//
   Created by Phil on 2014-12-30.
html
   head
      title Téléversement d'une image.
      link(rel='stylesheet', href='/stylesheets/style.css')
   body
      form#uploadForm(enctype="multipart/form-data",action="/uploadimage",method="post")
         input(type="file",name="imageUsine")
         input(type="submit",value="Téléversement d'une image",name="submit")
   script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
   script(src='javascripts/jquery.cloudinary.js', type='text/javascript')
   script.
      $(document).ready(function() {
         $.cloudinary.config({ cloud_name: 'dno3dfbgx', api_key: '997542646619133'});
         $('#uploadForm').submit(function() {
            $(this).ajaxSubmit({
               error: function(xhr) {
                  status('Erreur: ' + xhr.status);
               },
               success: function(response) {
                  console.log(response);
               }
            });
         return false;
         });
      });