//
   Created by Phil on 2015-01-08.

extends layout
block content
   div#divGlossaire
      h1 Glossaire
      table(class='tableGlossaire')
         tr#A
            td#tdGlossaireGauche Acide
            td#tdGlossaire.
               Composé chimique (hydrogéné) qui fait virer au rouge le papier de
               tournesol qui est un indicateur de <i>pH</i> qui réagit sur des substances
               comme le bicarbonate de sodium.
               Les acides peuvent réagir avec plusieurs produits et en modifier les
               propriétés. Les produits acides que l'on trouve dans notre
               alimentation ont une saveur piquante (vinaigre, jus de citron, jus de
               tomate). Les acides utilisés en traitement de l'eau ne peuvent pas
               être consommés directement, mais ils contribuent à créer les
               conditions favorables au traitement.
         tr
            td#tdGlossaireGauche Acides nucléiques
            td#tdGlossaire.
               Les acides nucléiques sont des macromolécules, c'est-à-dire de grosses
               molécules relativement complexes. Ils entrent dans la famille des
               biomolécules puisqu'ils sont d'une très grande importance dans le
               règne de la vie, « bios » signifiant vie en grec.
         tr
            td#tdGlossaireGauche Adoucissement
            td#tdGlossaire.
               Traitement qui consiste à retirer certains produits de l'eau pour en
               diminuer la <i>dureté</i>. Une eau dont la dureté est plus basse
               «mousse» plus facilement quand on y ajoute du savon.
         tr
            td#tdGlossaireGauche Adsorbant
            td#tdGlossaire.
               Matériau qui fixe d'autres substances à sa surface ou dans ses
               pores.
         tr
            td#tdGlossaireGauche Aération
            td#tdGlossaire.
               Procédé par lequel on mélange de l'air à une substance, ici de
               l'eau, pour oxyder (voir oxydation), oxygéner ou enlever des gaz
               indésirables.
         tr
            td#tdGlossaireGauche Agglomération (s'agglomérer)
            td#tdGlossaire.
               On dit que des particules s'agglomèrent lorsqu'elles se collent
               ensemble.
         tr
            td#tdGlossaireGauche Agitateur
            td#tdGlossaire.
               Appareil constitué d'un moteur et d'un arbre comportant à son
               extrémité une hélice. On l'ajoute à la cuve du <i>mélangeur</i>.
         tr
            td#tdGlossaireGauche Aide-coagulant
            td#tdGlossaire.
               Un produit qui permet de faire grossir les <i>flocs</i> formés par le
               <i>coagulant</i>, de les «coller» les uns aux autres pour les aider à
               <i>décanter</i> plus rapidement.
         tr
            td#tdGlossaireGauche Alcalinité
            td#tdGlossaire.
               Dans le domaine de l'eau, on définit l'alcalinité comme étant
               l'ensemble des <i>ions</i> carbonates, bicarbonates et hydroxydes dans
               l'eau. C'est aussi l'état d'une matière qui a un <i>pH</i> supérieur à 7 sur
               une échelle de 1 à 14. Une base est alcaline.État d'une matière qui
               a un <i>pH</i> supérieur à 7 sur une échelle de 1 à 14. Une base est
               alcaline. Dans le domaine de l'eau, on définit l'alcalinité comme
               étant l'ensemble des <i>ions</i> carbonates, bicarbonates et hydroxydes
               dans l'eau.
         tr
            td#tdGlossaireGauche Algue
            td#tdGlossaire.
               Petite plante aquatique contenant de la chlorophylle et requérant la
               lumière du soleil pour vivre et se reproduire.
         tr
            td#tdGlossaireGauche Alun
            td#tdGlossaire.
               L'alun est un produit chimique (sulfate d'aluminium) qui agit comme
               <i>coagulant</i> (agglomérant) dans le traitement de l'eau.
         tr
            td#tdGlossaireGauche Amont
            td#tdGlossaire.
               Du côté d'où vient l'eau.
         tr
            td#tdGlossaireGauche Amovible
            td#tdGlossaire.
               Qui peut facilement s'enlever et se remettre.
         tr
            td#tdGlossaireGauche Analyseur en continu
            td#tdGlossaire.
               Appareil permettant d'obtenir des données sur la qualité de l'eau de
               façon continue.
         tr
            td#tdGlossaireGauche Anthracite
            td#tdGlossaire.
               Charbon d'un gris foncé utilisé comme milieu filtrant. Contrairement
               au <i>charbon actif</i>, l'anthracite n'est pas très poreux.
         tr
            td#tdGlossaireGauche Ascendant
            td#tdGlossaire.
               Qui va en montant, qui va vers le haut.
         tr
            td#tdGlossaireGauche Aval
            td#tdGlossaire.
               Du côté où va l'eau qui coule.
         tr
            td#tdGlossaireGauche Azote ammoniacal et organique
            td#tdGlossaire.
               L'azote, un gaz présent dans l'air (78% de l'air) est un élément
               composant l'ammoniaque. L'ammoniaque a une forte odeur
               caractéristique désagréable. L'azote est également présent dans
               l'urée composante de l'urine.
         tr#B
            td#tdGlossaireGauche Bactérie
            td#tdGlossaire.
               Être vivant primitif, généralement composé d'une seule cellule,
               formant un règne ni animal ni végétal et dont il existe des formes
               très variées. Mesure entre 0,1 et 10 micromètres (µm).
               Un micromètre (µm) = 1 millimètre – l'épaisseur d'une allumette -
               divisé par 1000.
               Invisibles à l'œil nu, les bactéries peuvent être observées au
               microscope optique.
         tr
            td#tdGlossaireGauche Bactéries pathogènes
            td#tdGlossaire.
               <i>Bactéries</i> pouvant causer des maladies et même la mort.
         tr
            td#tdGlossaireGauche Baryum
            td#tdGlossaire.
               Élément de la nature. Voir <i>«Produits chimiques»</i>.
         tr
            td#tdGlossaireGauche Basique
            td#tdGlossaire.
               Qui appartient à une base, qui en a les propriétés. Lorsqu'une
               substance a un <i>pH</i> de plus de 7, on dit qu'il est basique ou encore
               qu'il est alcalin.
         tr
            td#tdGlossaireGauche Bioxyde de chlore, hypochlorite de sodium, chloramines
            td#tdGlossaire.
               Produits chimiques contenant du <i>chlore</i> utilisés pour désinfecter
               l'<i>eau potable</i>. Voir <i>«Produits chimiques»</i>.
         tr
            td#tdGlossaireGauche Boues
            td#tdGlossaire.
               En traitement de l'eau, les boues sont constituées par une
               accumulation de <i>flocs</i>.
         tr#C
            td#tdGlossaireGauche Capter
            td#tdGlossaire.
               Recueillir l'eau pour la traiter.
         tr
            td#tdGlossaireGauche Charbon activé
            td#tdGlossaire.
               Charbon qui a subi une transformation par la chaleur. Le charbon
               activé est très poreux. De 5 à 10 grammes de charbon activé
               représentent une surface (ensemble de ses pores) d'environ un
               terrain de football!
         tr
            td#tdGlossaireGauche Charges négatives et positives
            td#tdGlossaire.
               En électricité, on parle de charge négative et de charge positive
               des substances. Les charges de même nature se repoussent, alors
               que les charges contraires s'attirent. Quant une substance n'est ni
               positive, ni négative, on dit qu'elle est neutre.
         tr
            td#tdGlossaireGauche Chaux hydratée
            td#tdGlossaire.
               Chaux à laquelle on a ajouté de l'eau.
         tr
            td#tdGlossaireGauche Chicane
            td#tdGlossaire.
               Passage en zigzags à travers une série de cloisons.
         tr
            td#tdGlossaireGauche Chlore
            td#tdGlossaire.
               Gaz jaune verdâtre à l'odeur suffocante, répandu dans la nature
               sous forme de chlorures, oxydant très actif utilisé en solution dans
               le traitement de l'eau comme oxydant et désinfectant. Voir
               également <i>«Produits chimiques»</i>.
         tr
            td#tdGlossaireGauche Clapet
            td#tdGlossaire.
               Soupape (genre de petite porte) à charnière qui ne laisse passer
               l'eau que dans un sens.
         tr
            td#tdGlossaireGauche Clarification
            td#tdGlossaire.
               La clarification consiste à éclaircir l'eau. L'appareil servant à
               clarifier s'appelle un clarificateur.
         tr
            td#tdGlossaireGauche Coagulant
            td#tdGlossaire.
               Sels métalliques à base de <i>fer</i> ou d'aluminium servant à la
               coagulation (neutralisation) des particules présentes dans l'<i>eau
               brute</i>.
         tr
            td#tdGlossaireGauche Coagulation-floculation
            td#tdGlossaire.
               Dans un premier temps, on utilise certains produits <i>coagulants</i> qui
               neutralisent les fines particules appelées <i>colloïdes</i> en suspension
               dans l'<i>eau brute</i> et qui ont tendance à se repousser. Il s'agit de la
               coagulation.
               Dans un deuxième temps, on agglomère ces particules
               neutralisées en amas (flocs) pour qu'ils <i>décantent</i>. Cette seconde
               opération est réalisée à l'aide de produits <i>floculants</i>, il s'agit de la
               floculation.
         tr
            td#tdGlossaireGauche Colloïdes
            td#tdGlossaire.
               Très petites particules (particules colloïdales) en <i>suspension</i> dans
               certaines <i>eaux brutes</i> et qui ont tendance à se repousser plutôt
               qu'à <i>décanter</i>.
         tr
            td#tdGlossaireGauche Colmater
            td#tdGlossaire.
               Boucher en parlant des filtres.
         tr
            td#tdGlossaireGauche Concentrateur de boue
            td#tdGlossaire.
               Réservoir en forme d'entonnoir où se déverse la boue.
         tr
            td#tdGlossaireGauche Conduite
            td#tdGlossaire.
               Tuyau destiné à conduire un fluide (gaz ou liquide).
         tr
            td#tdGlossaireGauche Conduite de refoulement
            td#tdGlossaire.
               Tuyau situé en <i>aval</i> d'une pompe dans lequel celle-ci refoule (pousse) l'eau.
         tr
            td#tdGlossaireGauche Contamination
            td#tdGlossaire.
               Souillure de l'eau par des microorganismes pathogènes (pouvant
               donner des maladies ou des effets indésirables comme des
               odeurs ou des goûts).
         tr
            td#tdGlossaireGauche Contre-courant
            td#tdGlossaire.
               En sens opposé au courant normal.
         tr
            td#tdGlossaireGauche Corroder (se)
            td#tdGlossaire.
               Rouiller en parlant de <i>conduite</i> en acier (surtout).
         tr
            td#tdGlossaireGauche Corrosion
            td#tdGlossaire.
               Destruction progressive par effets chimique et bactérienne. La
               rouille est le résultat de la corrosion du fer.
         tr
            td#tdGlossaireGauche
               i Cryptosporidium
               |,&nbsp;
               i Giardia
            td#tdGlossaire La&nbsp;
               i Giardia
               |&nbsp;et le&nbsp;
               i Cryptosporidium
               |&nbsp;sont des organismes
               |microscopiques qui peuvent être retrouvés dans l'eau. La&nbsp;
               i Giardia
               |&nbsp;est responsable d'une maladie intestinale appelée giardiase et le&nbsp;
               i Cryptosporidium
               |&nbsp;est à l'origine d'une maladie semblable, la
               |cryptosporidiose. Les symptômes les plus souvent associés à ces
               |parasites sont la diarrhée, les crampes abdominales, des malaises
               |et une perte de poids. Vomissements, frissons, maux de tête et
               |fièvre peuvent également survenir. Ces protozoaires ont été à
               |l'origine d'épidémies qui ont affecté plusieurs centaines de
               |personnes à la fois, ce qui explique l'intérêt qu'on leur porte.
         tr
            td#tdGlossaireGauche Débitmètre
            td#tdGlossaire.
               Dispositif qui mesure la quantité d'eau qui passe dans une <i>conduite</i>
               d'eau.
         tr
            td#tdGlossaireGauche Décantation
            td#tdGlossaire.
               Action de débarrasser l'eau des matières solides qu'elle contient en
               suspension (et certaines en solution) en les laissant se déposer au
               fond du récipient.
         tr
            td#tdGlossaireGauche Décanter
            td#tdGlossaire.
               Se déposer au fond d'un bassin.
         tr
            td#tdGlossaireGauche Décanteur
            td#tdGlossaire.
               Bassin servant à débarrasser l'eau des matières solides qu'il
               contient en suspension en les laissant se déposer au fond.
         tr
            td#tdGlossaireGauche Décanteur à voile de boue
            td#tdGlossaire.
               <i>Décanteur</i> qui utilise un voile de boue formé par les particules
               décantées pour retenir davantage les flocs présents dans l'eau à
               traiter. Pour que le système fonctionne, l'eau à traiter doit arriver
               sous les <i>boues</i> accumulées.
         tr
            td#tdGlossaireGauche Demande en eau
            td#tdGlossaire.
               Quantité d'eau consommée à un moment donné par l'ensemble
               des usagers du réseau de distribution, incluant les fuites d'eau.
         tr
            td#tdGlossaireGauche Différence de potentiel électrique
            td#tdGlossaire.
               Tension électrique. La tension de fonctionnement d'une lampe de
               poche varie de 3 à 6 volts (V), dans un ozoneur, la tension est de
               l'ordre de 15 000 à 20 000 volts.
         tr
            td#tdGlossaireGauche Diffuseur
            td#tdGlossaire.
               Dispositif permettant d'introduire un gaz ou un liquide dans l'eau à
               traiter. Il est constitué d'une <i>conduite</i> et de têtes ou pommeaux
               percés de nombreux petits trous.
         tr
            td#tdGlossaireGauche Dosage
            td#tdGlossaire.
               En traitement de l'eau le mot «dosage» est employé pour décrire
               l'action permettant d'ajouter un produit chimique dans l'eau à traiter
               dans des proportions définies.
         tr
            td#tdGlossaireGauche Doseur
            td#tdGlossaire.
               Appareil ou dispositif servant à faire le <i>dosage</i> d'un produit
               chimique dans l'eau à traiter
         tr
            td#tdGlossaireGauche Dureté (de l'eau)
            td#tdGlossaire.
               On dit d'une eau que sa dureté est élevée (ou qu'elle est dure)
               lorsqu'elle contient une grande quantité de différents minéraux,
               principalement le calcium et le magnésium.
         tr
            td#tdGlossaireGauche Eau brute
            td#tdGlossaire.
               Il s'agit de l'eau qui doit être traitée avant de devenir potable : eau
               d'un lac, d'une rivière, souterraine, etc. 
         tr
            td#tdGlossaireGauche Eau de ruissellement
            td#tdGlossaire.
               Eau provenant de l'écoulement des eaux sur le sol après des
               précipitations ou suite à la fonte de neige ou de glace. 

         tr
            td#tdGlossaireGauche Eau de surface
            td#tdGlossaire.
               Eau provenant d'un lac, d'une rivière ou d'un fleuve.
         tr
            td#tdGlossaireGauche Eau distribuée
            td#tdGlossaire.
               Eau qui sort de la station.
         tr
            td#tdGlossaireGauche Eau potable
            td#tdGlossaire.
               Eau qu'on peut boire sans danger. La définition légale est « eau
               destinée à être ingérée par l'être humain ».
         tr
            td#tdGlossaireGauche Eau souterraine
            td#tdGlossaire.
               Eau provenant du sous-sol.
         tr
            td#tdGlossaireGauche Entartrage
            td#tdGlossaire.
               Dépôt de carbonate de calcium laissé par l'eau sur certains
               récipients, les ustensiles, dans les tuyaux, etc.
         tr
            td#tdGlossaireGauche Expansion
            td#tdGlossaire.
               Dont le volume a augmenté.
         tr
            // *************************ici glossaire <i>*********************************
            td#tdGlossaireGauche Fer, manganèse, hydroxyde de fer, oxygène, permanganate de potassium, bioxyde de <i>chlore</i>, ozone
            td#tdGlossaire.
               Le fer, le manganèse, l'oxygène, le potassium, le <i>chlore</i> sont des
               éléments chimiques naturels. L'hydroxyde de fer, le permanganate
               de potassium, le bioxyde de chlore, l'ozone sont des composés
               chimiques.
               Voir «Produits chimiques» pour explications.
         tr
            td#tdGlossaireGauche Fer, manganèse, souffre, pesticides, phénol, azote, ammoniaque, métaux lourds.
            td#tdGlossaire.
               Substances dont on souhaite réduire ou éliminer la présence dans
               l'<i>eau potable</i>. Voir «Produits chimiques».
         tr
            td#tdGlossaireGauche Filtre
            td#tdGlossaire.
               Bassin contenant un milieu filtrant permettant de retenir des fines
               particules indésirables.
         tr
            td#tdGlossaireGauche Floc
            td#tdGlossaire.
               Genre de flocon formé de particules plus petites réunies ensemble.
         tr
            td#tdGlossaireGauche Floculant
            td#tdGlossaire.
               Produit servant à agglomérer les particules colloïdales neutralisées
               par un <i>coagulant</i>, à faire grossir les flocs.
               Floculation Voir: <i>Coagulation-floculation</i>.
         tr
            td#tdGlossaireGauche Flottation à air dissous
            td#tdGlossaire.
               Action par laquelle les flocs sont entraînés vers le haut plutôt que
               vers le bas par la poussée de bulles d'air.
         tr
            td#tdGlossaireGauche Fluor
            td#tdGlossaire.
               Élément chimique naturel. Voir aussi «Produits chimiques».
         tr
            td#tdGlossaireGauche Géologie
            td#tdGlossaire.
               Science qui a pour objet d'étudier la Terre, de décrire les
               transformations actuelles et passées qu'elle a subies et les
               matériaux qui la composent.
         tr
            td#tdGlossaireGauche Granulaire
            td#tdGlossaire.
               Qui contient des grains (sable, <i>anthracite</i>, <i>charbon activé</i>, etc.)
         tr
            td#tdGlossaireGauche Granulométrie
            td#tdGlossaire.
               Mesure des dimensions et de la quantité des grains contenus dans
               un mélange.
         tr
            td#tdGlossaireGauche Gravitaire
            td#tdGlossaire.
               On dit que l'eau descend de façon gravitaire, lorsque c'est
               l'attraction terrestre (le poids de l'eau) qui la fait descendre d'un
               équipement plus haut que le suivant. On dit aussi qu'elle descend
               par gravité.
         tr
            td#tdGlossaireGauche Gravité
            td#tdGlossaire.
               Voir «Gravitaire».
         tr
            td#tdGlossaireGauche Groupe électrogène
            td#tdGlossaire.
               On appelle ainsi un moteur à combustion couplé à une génératrice.
               On utilise cet équipement pour produire de l'électricité lors d'une
               panne électrique.
         tr
            td#tdGlossaireGauche Hydrocyclone
            td#tdGlossaire.
               Appareil permettant de débarrasser le microsable des particules
               qui sont agglomérées autour des grains, de le nettoyer en quelque
               sorte afin de le réutiliser.
         tr
            td#tdGlossaireGauche Hydroéjecteur
            td#tdGlossaire.
               Appareil permettant l'introduction forcée d'un gaz dans l'eau.
         tr
            td#tdGlossaireGauche Hydrogéologie
            td#tdGlossaire.
               Branche de la géologie qui s'occupe de la recherche et du captage
               des eaux souterraines.
         tr
            td#tdGlossaireGauche Impulseur
            td#tdGlossaire.
               Genre de roue comportant des pales qui permettent de déplacer
               (pomper) l'eau dans une <i>conduite</i>.
         tr
            td#tdGlossaireGauche Incrustation
            td#tdGlossaire.
               Dépôt plus ou moins dur laissé sur une surface par des eaux
               calcaires.
         tr
            td#tdGlossaireGauche Infiltration
            td#tdGlossaire.
               Passage de l'eau ou d'un autre liquide à travers les interstices
               (petits espaces) du sol.
         tr
            td#tdGlossaireGauche Inhibiteur
            td#tdGlossaire.
               Substance qui a pour effet de ralentir ou d'arrêter une réaction
               chimique.
         tr
            td#tdGlossaireGauche Insoluble
            td#tdGlossaire.
               Qui ne peut se dissoudre dans l'eau.
         tr
            td#tdGlossaireGauche Intégrés
            td#tdGlossaire.
               Qui ne font qu'un.
         tr
            td#tdGlossaireGauche Ion
            td#tdGlossaire.
               Atome ou molécule (voir «Produits chimiques» pour des
               explications) qui n'a plus sa neutralité électrique, suite à
               l'acquisition ou à la perte d'un ou de plusieurs électrons.
         tr
            td#tdGlossaireGauche Kyste de protozoaire
            td#tdGlossaire.
               Un kyste est en quelque sorte une enveloppe qui protège un
               protozoaire, cette enveloppe est très résistante aux conditions
               extrêmes de l'environnement.
         tr
            td#tdGlossaireGauche Lit
            td#tdGlossaire.
               Fonds d'un cours d'eau.
         tr
            td#tdGlossaireGauche Lit de boue
            td#tdGlossaire.
               Couche de boue.
         tr
            td#tdGlossaireGauche Manganèse
            td#tdGlossaire.
               Élément chimique naturel. Métal grisâtre. Voir «Fer».
         tr
            td#tdGlossaireGauche Matière organique
            td#tdGlossaire.
               Matière qui compose le sol et qui est issue de la dégradation des
               organismes vivants.
         tr
            td#tdGlossaireGauche Matières en suspension
            td#tdGlossaire.
               On dit qu'une matière est en suspension lorsqu'elle est répartie en
               fines particules dans l'eau.
         tr
            td#tdGlossaireGauche Média
            td#tdGlossaire.
               Matériau granulaire spécialisé utilisé en filtration de l'eau. 
         tr
            td#tdGlossaireGauche Mélangeur
            td#tdGlossaire.
               Appareil ressemblant à un mélangeur de cuisine permettant de
               mélanger un produit chimique avec de l'eau dans un réservoir
               appelé bac de mélange.
         tr
            td#tdGlossaireGauche Membrane
            td#tdGlossaire.
               Dans certains filtres, le milieu filtrant est une membrane comportant
               de fins pores à travers lesquels passe l'eau à filtrer.
         tr
            td#tdGlossaireGauche Microfiltration, ultrafiltration, nanofiltration, osmose inverse.
            td#tdGlossaire.
               Filtration réalisée par des membranes très fines. Chaque type de
               filtration utilise une membrane qui enlève des particules de plus en
               plus petites et mêmes des produits chimiques pour l'osmose
               inverse.
         tr
            td#tdGlossaireGauche Micromètre (µm), nanomètre (nm)
            td#tdGlossaire.
               1 micromètre (µm) = 0,000 001 mètre, soit un million de fois plus
               petit qu'un mètre. Voir également «Nanomètre».
         tr
            td#tdGlossaireGauche Microorganisme
            td#tdGlossaire.
               Être vivant microscopique.
         tr
            td#tdGlossaireGauche Microsable
            td#tdGlossaire.
               Grain de sable très fin.
         tr
            td#tdGlossaireGauche Microtamis à mailles très serrées
            td#tdGlossaire.
               Ouvertures dans un grillage. Si les mailles sont serrées,
               c'est que les ouvertures sont très étroites et ne laissent
               passer que de très fines particules. Voir dans le glossaire «Microtamis».
         tr
            td#tdGlossaireGauche Milieu filtrant
            td#tdGlossaire.
               Ce sont les matériaux comme le sable, l'<i>anthracite</i> ou le <i>charbon
               activé</i> qui retiennent les particules contenues dans l'eau. On
               retrouve le milieu filtrant dans un filtre.
         tr
            td#tdGlossaireGauche Molécule
            td#tdGlossaire.
               Particule microscopique composée d'un ou de plusieurs éléments
               en proportion définie. Voir «Produits chimiques»
         tr
            td#tdGlossaireGauche Nanomètre
            td#tdGlossaire.
               1 nanomètre (nm) = 0,000 000 001 mètre, soit 1000 fois plus petit
               que le micromètre. Voir également «Micromètre».
         tr
            td#tdGlossaireGauche Nappe phréatique
            td#tdGlossaire.
               Nappe d'eau souterraine produite par l'infiltration des <i>eaux de
               surface</i> et qui remplie les espaces entre les grains de sol.
         tr
            td#tdGlossaireGauche Niveau (d'eau)
            td#tdGlossaire.
               Position de la surface de l'eau par rapport à un point de référence.
         tr
            td#tdGlossaireGauche Organisme
            td#tdGlossaire.
               Être vivant animal ou végétal.
         tr
            td#tdGlossaireGauche Oxydant
            td#tdGlossaire.
               On dit qu'une matière est oxydante lorsqu'elle modifie la 
               composition d'une autre matière en captant un ou plusieurs de ses
               électrons. L'oxygène est un exemple d'oxydant.
         tr
            td#tdGlossaireGauche Oxydation
            td#tdGlossaire.
               L'oxydation, c'est le passage d'électrons d'une substance (par
               exemple le fer ou le manganèse) vers une autre. On dit alors de la
               première substance qu'elle s'est oxydée (la rouille résulte de
               l'oxydation du fer par l'oxygène présent dans l'air ou dans l'eau). 
         tr
            td#tdGlossaireGauche Oxydation biologique
            td#tdGlossaire.
               L'ajout d'oxygène dans l'eau à traiter dans des proportions
               adéquates peut également donner lieu à une oxydation dite biologique des métaux en favorisant l'action de <i>bactéries</i>.
         tr
            td#tdGlossaireGauche Oxydation catalytique
            td#tdGlossaire.
               Oxydation en présence d'un catalyseur qui favorise et accélère la
               réaction chimique.
         tr
            td#tdGlossaireGauche Oxyde de manganèse
            td#tdGlossaire.
               Produit résultant de l'oxydation du manganèse. Voir «Produits
               chimiques».
         tr
            td#tdGlossaireGauche Oxyder
            td#tdGlossaire.
               Changer en oxyde (réaction chimique) à l'aide d'oxygène ou d'un
               produit oxydant (ozone, hypochlorite de sodium). La rouille est un
               oxyde du fer.
         tr
            td#tdGlossaireGauche Oxygène
            td#tdGlossaire.
               Gaz qui fait partie de l'air (23%) que l'on respire. Voir «Produits
               chimiques»
         tr
            td#tdGlossaireGauche Ozone
            td#tdGlossaire.
               L'ozone est une forme instable de l'oxygène (molécule O<sub>3</sub> au lieu
               de O<sub>2</sub>). C'est un gaz très oxydant.
         tr
            td#tdGlossaireGauche Pathogènes (microorganismes)
            td#tdGlossaire.
               Êtres vivants microscopiques tels les virus (les plus petits), les
               <i>bactéries</i> (plus gros) et d'autres beaucoup plus gros comme les
               protozoaires qui peuvent causer des maladies graves.
         tr
            td#tdGlossaireGauche Période de pointe
            td#tdGlossaire.
               Période de la journée au cours de laquelle la demande en <i>eau
               potable</i> est la plus élevée.
         tr
            td#tdGlossaireGauche Péristaltique
            td#tdGlossaire.
               Qui fonctionne selon le principe du péristaltisme. Le péristaltisme,
               ce sont les contractions ondulatoires qui permettent de faire
               avancer les matières contenues dans un boyau.
         tr
            td#tdGlossaireGauche pH
            td#tdGlossaire.
               Abréviation de «potentiel hydrogène». Échelle de mesure de
               l'acidité (0-7) et de l'<i>alcalinité</i> d'un produit (7-14). Un pH de 7
               correspond à un pH neutre.
         tr
            td#tdGlossaireGauche Phénol
            td#tdGlossaire.
               Produit chimique indésirable dans l'<i>eau potable</i> servant dans
               l'industrie des plastiques, dans les antiseptiques, en parfumerie, en
               alimentation pour la conservation de la viande, dans l'industrie
               pharmaceutique, etc. Les phénols peuvent être aussi d'origine
               naturelle comme par exemple les feuilles d'arbres présentes dans
               l'eau. Voir «Produits chimiques»
         tr
            td#tdGlossaireGauche Phosphate, silicate
            td#tdGlossaire.
               Produits chimiques utilisés en traitement de l'<i>eau potable</i> pour
               réduire la <i>corrosion</i> des <i>conduites</i> du réseau de distribution. Voir
               aussi «Produits chimiques».
         tr
            td#tdGlossaireGauche Photochimique
            td#tdGlossaire.
               Réaction chimique utilisant l'énergie produite par la lumière.
         tr
            td#tdGlossaireGauche Piston
            td#tdGlossaire.
               Pièce mobile cylindrique qui se déplace dans un tube (un cylindre
               dans le cas d'une pompe) et transmet une pression au liquide qu'il
               contient.
         tr
            td#tdGlossaireGauche Pointe filtrante
            td#tdGlossaire.
               Dispositif constitué d'un tuyau au bout duquel se trouve une pièce
               métallique perforée en forme de cône servant de filtre grossier. On
               l'enfonce dans le sol lorsque l'eau souterraine se trouve à faible
               profondeur (quelques mètres seulement). 
         tr
            td#tdGlossaireGauche Polymère
            td#tdGlossaire.
               La matière est composée de très petites particules qu'on ne peut
               pas voir et qu'on appelle des molécules (Voir «Produits
               chimiques»). Lorsque les molécules se fixent bout à bout pour
               former un genre de chaîne, on appelle cette chaîne un polymère.
               Par exemple, un élastique est fait d'un polymère. Il en existe
               plusieurs sortes. Les polymères qu'on utilise dans le traitement de
               l'eau agissent pour «coller» ensemble les petits flocs.
         tr
            td#tdGlossaireGauche Pompe
            td#tdGlossaire.
               Appareil destiné à aspirer, refouler ou comprimer des liquides ou
               des gaz.
         tr
            td#tdGlossaireGauche Pompe centrifuge
            td#tdGlossaire.
               Pompe qui déplace l'eau par l'intermédiaire d'une roue à aubes en la faisant tourner pour la pousser vers une <i>conduite</i>.
         tr
            td#tdGlossaireGauche Pompe doseuse
            td#tdGlossaire.
               Pompe qui ajoute une substance à l'eau à traiter dans les
               proportions désirées selon les caractéristiques de l'eau à traiter.
               Certaines poussent le produit avec une vis sans fin, d'autres avec
               un piston ou un diaphragme (membrane flexible), enfin certaines
               versent un liquide avec une roue munie de plusieurs godets (petits
               gobelets).
         tr
            td#tdGlossaireGauche Pompe immergée
            td#tdGlossaire.
               Pompe qui baigne entièrement dans l'eau.
         tr
            td#tdGlossaireGauche Précipitation
            td#tdGlossaire.
               Phénomène par lequel des produits en solution (dissous) dans
               l'eau forment de fines particules qui se déposent dans le récipient
               qui contient la solution. 
         tr
            td#tdGlossaireGauche Précipiter
            td#tdGlossaire.
               Quand un produit soluble forme un particule qui ne peut pas se
               dissoudre, il se dépose alors au fond et on dit qu'il précipite.
         tr
            td#tdGlossaireGauche Pression
            td#tdGlossaire.
               Force qui pousse sur l'eau pour la déplacer. La pression peut aussi
               être la force qu'exerce l'eau sur un objet, une surface.
         tr
            td#tdGlossaireGauche Prise d'eau
            td#tdGlossaire.
               Une prise d'eau est un dispositif qui permet de <i>capter</i> l'eau que l'on
               veut traiter.
         tr
            td#tdGlossaireGauche Procédés de traitement
            td#tdGlossaire.
               Tous les procédés utilisés pour traiter l'<i>eau brute</i> afin de la rendre
               potable (voir «<i>eau potable</i>») et de pouvoir la distribuer.
         tr
            td#tdGlossaireGauche Produits chimiques
            td#tdGlossaire.
               On retrouve sur Terre plus d'une centaine d'éléments chimiques ou
               atomes comme l'oxygène, le fer, l'hydrogène, le plomb, l'<i>azote</i>, le
               manganèse, le souffre, le <i>chlore</i>, etc. Ils sont comme les différentes
               pièces d'un jeu de construction (exemple : un jeu LEGO). Lorsqu'ils
               se combinent entre eux de différentes façons, on obtient alors des
               composés chimiques ou molécules. Un peu comme une
               construction faite de plusieurs pièces différentes. L'eau, la rouille,
               les minéraux, la chlorophylle des plantes, les vitamines, constituent
               quelques exemples de composés chimiques. Il existe des
               centaines de milliers de composés différents.
               L'atome lui-même est fait de particules encore plus petites dont
               l'électron. 
         tr
            td#tdGlossaireGauche Protozoaire
            td#tdGlossaire.
               Organisme vivant unicellulaire qui mesure entre 1 et quelques
               milliers de micromètres (µm).
               Un micromètre = 1 millimètre – l'épaisseur d'une allumette - divisé
               par 1000.
               Certains peuvent être observés à l'oeil nu.
         tr
            td#tdGlossaireGauche Puits mouillé (pompe en… )
            td#tdGlossaire.
               Dans ce type de station de pompage, la pompe est placée
               directement dans l'eau.
         tr
            td#tdGlossaireGauche Puits sec (pompe en…)
            td#tdGlossaire.
               Dans ce type de station de pompage, la pompe se trouve à côté du
               compartiment où se trouve l'eau à pomper.
         tr
            td#tdGlossaireGauche Puits tubulaire foré
            td#tdGlossaire.
               Puits constitué d'un tube (une <i>conduite</i>) introduit dans le roc par un
               forage (perçage).
         tr
            td#tdGlossaireGauche Purge des décanteurs
            td#tdGlossaire.
               Purger un <i>décanteur</i> consiste à retirer les <i>boues</i> qu'on récupère
               lors de la floculation/<i>décantation</i> ou de la flottation. Une certaine
               quantité d'eau est nécessaire pour entraîner les <i>boues</i> vers
               l'évacuation. 
         tr
            td#tdGlossaireGauche Rayonnement ultraviolet
            td#tdGlossaire.
               Le rayonnement ultraviolet (UV), également appelé lumière noire
               parce qu'il n'est pas visible à l'œil nu, est un rayonnement qui est
               utilisé en traitement de l'eau, car il permet de détruire différents
               types de microorganismes notamment des protozoaires que
               d'autres types de traitement ne réussissent pas à détruire.
         tr
            td#tdGlossaireGauche Réaction chimique
            td#tdGlossaire.
               On dit qu'il y a une réaction chimique lorsque des éléments ou des
               composés chimiques réagissent ensemble pour former denouvelles substances.
         tr
            td#tdGlossaireGauche Redondance
            td#tdGlossaire.
               Installation d'équipements supplémentaires pour assurer qu'un bris
               de l'un d'entre eux n'entraîne pas une interruption de
               fonctionnement de la station de production d'<i>eau potable</i>.
         tr
            td#tdGlossaireGauche Régénérer
            td#tdGlossaire.
               Rétablir l'efficacité initiale par divers moyens physiques ou
               chimiques.
         tr
            td#tdGlossaireGauche Réseau d'égout
            td#tdGlossaire.
               Ensemble de <i>conduites</i> permettant de recueillir les eaux usées.
         tr
            td#tdGlossaireGauche Réseau de distribution
            td#tdGlossaire.
               Ensemble des <i>conduites</i> permettant de transporter l'eau traitée
               (potable) vers les consommateurs. Aussi appelé aqueduc.
         tr
            td#tdGlossaireGauche Résine échangeuse d'ions
            td#tdGlossaire.
               La résine est un ensemble de petites billes sur lesquelles vient se
               fixer le sodium du sel régénérant. Les ions indésirables sont
               adsorbés en lieu et place des ions de sodium qui sont libérés dans
               l'eau. Lorsque tous les ions «sodium» ont été échangés
               (saturation), la résine ne peut reprendre son rôle qu'après avoir été
               régénérée par une solution saline concentrée et rincée afin
               d'éliminer la saumure (eau très salée).
         tr
            td#tdGlossaireGauche Ressurgir
            td#tdGlossaire.
               Une source est toujours d‘origine souterraine et lorsque l'eau
               réapparaît en surface on dit qu'elle ressurgit ou qu'elle fait
               résurgence.
         tr
            td#tdGlossaireGauche Rotatoire
            td#tdGlossaire.
               Qui tourne, qui se caractérise par une rotation.
         tr
            td#tdGlossaireGauche Sable vert
            td#tdGlossaire.
               Sable formé à partir d'un oxyde de manganèse. La glauconite, qui
               est un sable vert naturel, peut être utilisé, mais en traitement de
               l'eau, on utilise généralement un sable vert fabriqué à partir d'un
               sable de silice. 
         tr
            td#tdGlossaireGauche Saturé
            td#tdGlossaire.
               Engorgé, rempli, qui retient le maximum de particules possible.
         tr
            td#tdGlossaireGauche Saumure, saumâtre
            td#tdGlossaire.
               La saumure est une eau très salée. On dit que qu'une eau est
               saumâtre lorsqu'elle a un goût amer et salé.
         tr
            td#tdGlossaireGauche Sédiments
            td#tdGlossaire.
               Dépôt au fond des cours d'eau de particules provenant de l'érosion
               du relief terrestre ou de la mort de petits êtres vivants. Ces
               particules sont d'abord en suspension (voir ce terme) dans l'eau,
               puis se déposent au fond ou sur le sol par le ruissellement. 
         tr
            td#tdGlossaireGauche Silice activée
            td#tdGlossaire.
               La silice activée est un produit chimique qui agit comme un
               polymère dans le traitement de l'eau.
         tr
            td#tdGlossaireGauche Sodium, calcium, magnésium, <i>baryum</i>, fluor
            td#tdGlossaire.
               Éléments chimiques naturels souvent présents dans l'eau
               souterraine surtout en quantités variables. Voir «Produits
               chimiques». 
         tr
            td#tdGlossaireGauche Solution
            td#tdGlossaire.
               Solution liquide contenant un soluté (ce qui est dissous) et qui peut
               être un solide, un liquide ou un gaz. Par exemple, l'eau salée, c'est
               du sel (un solide) en solution dans l'eau tandis que l'eau oxygénée,
               c'est de l'oxygène (un gaz) ajoutée à l'eau.
         tr
            td#tdGlossaireGauche Stable
            td#tdGlossaire.
               Dont le niveau ne varie pas beaucoup.
         tr
            td#tdGlossaireGauche Station de production d'<i>eau potable</i>
            td#tdGlossaire.
               Bâtiment doté de divers équipements et procédés servant à
               produire de l'<i>eau potable</i>. À ne pas confondre avec une station de
               traitement (épuration) des eaux usées.
         tr
            td#tdGlossaireGauche Substance inorganique
            td#tdGlossaire.
               Qui n'est pas lié au vivant, qui n'est ni animal ni végétal, mais plutôt
               minéral. 
         tr
            td#tdGlossaireGauche Surnageant
            td#tdGlossaire.
               L'eau clarifiée qui se trouve à la surface des clarificateurs et qui est
               débarrassée des particules indésirables.
         tr
            td#tdGlossaireGauche Surpression (station de)
            td#tdGlossaire.
               Station de pompage qui sert à augmenter la pression dans les
               tuyaux pour compenser la baisse de pression causée par la friction
               de l'eau sur la paroi interne des <i>conduites</i> du réseau de distribution
               et la topographie des lieux (élévation différente). 
         tr
            td#tdGlossaireGauche Sursaturation en oxygène
            td#tdGlossaire.
               Dépasser le niveau de saturation, plus que ne peut en contenir
               l'eau.
         tr
            td#tdGlossaireGauche Tamis
            td#tdGlossaire.
               Cadre sur lequel est tendu un grillage destiné à retirer les
               substances solides de grandes tailles contenues dans l'eau.
         tr
            td#tdGlossaireGauche Terre diatomée
            td#tdGlossaire.
               Milieu filtrant constitué de particules provenant de certains types
               d'<i>algues</i> dotées d'une coque siliceuse (contenant de la silice, la
               silice constitue le sable).
         tr
            td#tdGlossaireGauche Topographie
            td#tdGlossaire.
               Relief d'un lieu.
         tr
            td#tdGlossaireGauche Trémie
            td#tdGlossaire.
               Réservoir en forme de pyramide inversée ou de cône, servant au
               stockage des produits en vrac.
         tr
            td#tdGlossaireGauche Turbidité
            td#tdGlossaire.
               État trouble d'un liquide. Contraire de transparence.
         tr
            td#tdGlossaireGauche Turbine
            td#tdGlossaire.
               Dispositif constitué d'une roue à aubes (genre de palettes) qui
               permet de pousser l'eau.
         tr
            td#tdGlossaireGauche Vanne
            td#tdGlossaire.
               Équipement placé en un point d'une <i>conduite</i> afin de régler le débit
               de cette <i>conduite</i>. Équivalent d'un robinet.
         tr
            td#tdGlossaireGauche Vanne murale
            td#tdGlossaire.
               Équipement en forme de porte attachée à la paroi d'un bassin qui
               sert à permettre ou à interrompre l'entrée ou la sortie d'un liquide
               dans le bassin.
         tr
            td#tdGlossaireGauche Virus
            td#tdGlossaire.
               Microorganisme parasite et infectieux.
               Mesure entre 20 et 100 nanomètres (nm).
               Un nanomètre = 1 millimètre – l'épaisseur d'une allumette - divisé
               par 1 000 000.
               On ne peut l'observer qu'au microscope électronique.
         tr
            td#tdGlossaireGauche Vortex
            td#tdGlossaire.
               Tourbillon creux que l'on observe quand on vide un lavabo par
               exemple.