//
   Created by Phil on 2015-01-14.

doctype html
html
   head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
   body
      block content
   script(src="javascripts/jquery-1.9.0.min.js")
   script(src='/jquery.ui.widget.js')
      script(src='/jquery.iframe-transport.js')
      script(src='/jquery.fileupload.js')
      script(src='/jquery.cloudinary.js')
      block scripts