//
   Created by Phil on 2014-12-08.

extends layout
block content
   script(src="//code.jquery.com/jquery-1.11.1.min.js")
   script(id="scriptDelete",src="javascripts/ajaxDelete.js")
   script(src="javascripts/bandesGouttesAjustement.js")
   div#divGouttesG
   div#divGouttesD
   div#divNav
      a#labelAide(title='Aide',href="aide/presentationsExistantes.pdf", target="_blank") ?
      img#iLogo(src='images/LOGO_FB_CIEAU_CMJN.png',alt="Logo C.I.EAU",style="width:82px;height:50px")
      input#refresh(type="hidden", value="no")
      button#button(onclick='javascript:history.back()') Précédent
      button#buttonDisabled Suivant
   h1 Liste des présentations existantes
   div#dExistantes(class="scrollBarCIEAU")!= blockFichiers