//
   Created by Phil on 2015-02-18.

extends layoutPresentationRem
block content
   //img(src='images/gouttesFond.png',width='60%')
   div#divRemerciements
      h3(style='text-align: center;') Le C.I.EAU remercie les personnes suivantes pour leur contribution à la réalisation de ce logiciel
      h3 Idée originale, textes et validation
      label • Jean Lavoie, spécialiste des techniques de l'eau
      h3 Coordination, élaboration du contenu et préparation des illustrations
      label • Denis Fyfe, technicien et ex-enseignant de technologie
      h3 Planification
      label • Olivier Lalonde, directeur des opérations au C.I.EAU
      h3 Validation et conseils techniques
      label • Pierre Brisebois, ingénieur concepteur en traitement de l'eau
      br
      label • Donald Ellis, ingénieur au ministère Développement durable, Environnement et Lutte contre les changements climatiques du Québec
      h3 Illustrations principales
      label • Alain Cournoyer, designer et concepteur graphique en pédagogie
      br
      div(style='text-align: center;')
         a(href='http://www.alaincournoyer.com', target='_blank') http://www.alaincournoyer.com
      h3 Programmation du logiciel
      label • Philippe Alexandre Richard
      br
      label(style='float: right;') Février 2015