//
   Created by Phil on 2015-03-07.
extends layout
block content
   h1 Erreur. Votre session est expirée.
   p
      |Vous devez vous identifier de nouveau sur la page d'
      a(href='http://'+lien) identification
      |.